@font-face {
  font-family: 'SpokySpiders';
  src: url('../public/fonts/SpokySpiders.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* buena práctica: usa fuente del sistema mientras carga */
}

@theme {
  --font-spooky: 'SpokySpiders', ui-sans-serif, system-ui, sans-serif;
}


@import 'tailwindcss';